@model PizzaShop.Library.OrderClass

@{
    ViewData["Title"] = "PlaceOrder";
}

<h1>Place Order</h1>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.FirstName) @Html.DisplayFor(model => model.customer.LastName)
        </dd>
        <dt class="col-sm-2">
            Location:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.location.LocationDescription)
        </dd>
        <dt class="col-sm-2">
            Order:
        </dt>
        <dd class="col-sm-10">
            @{ foreach (var pizza in Model.pizzas)
                {

                    @Html.DisplayFor(model => pizza.PizzaString)
                    <br />
                }
               }
        </dd>
        <dt class="col-sm-2">
            Total:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
</dl>
</div>
<div class="form-group">
    <a asp-controller="Home" asp-action="MakePizza" class="btn btn-primary">Add Pizza to Order</a>
</div>
<div class="form-group">
    <a asp-controller="Home" asp-action="OrderPlaced" class="btn btn-primary">Finished</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
