 @model IEnumerable<PizzaShop.Library.OrderClass>

    @{
        ViewData["Title"] = "ViewOrderHistory";
    }

    <h1>View Order History</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Total
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location.LocationDescription)
                </td>
                <td>
                    @Html.ActionLink("Details", "UserOrderDetails", new { id = item.OrderID })
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Options" class="btn btn-primary">Back to Options</a>
    </div>
